@font-face
{
	font-family: caviar_dreams_bold;
	src: url(../fonts/Caviar_Dreams_Bold.ttf);
}
@font-face
{
	font-family: caviar_dreams_bold_italic;
	src: url(../fonts/Caviar_Dreams_BoldItalic.ttf);
}
@font-face
{
	font-family: caviar_dreams_italic;
	src: url(../fonts/Caviar_Dreams_Italic.ttf);
}
@font-face
{
	font-family: caviar_dreams;
	src: url(../fonts/Caviar_Dreams.ttf);
}

html, body
{
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/bg.png");
}
body
{
	/*@import url("http://fonts.googleapis.com/css?family=Roboto:400,700");*/
	color: white;
	font-family: "caviar_dreams";
	/*background: rgba(255, 255, 255, .2) url("images/bg.png");*/
}
a#footer
{
	/*color: white;*/
	/*text-decoration: none;*/
}
#title-h1
{
	font-size: 3em;
}
#subtitle
{
	font-size: 1.5em;
}
.container-fluid
{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
}
#footer
{
	font-size: 2em;
}
a, #footer
{
	color: rgba(255, 255, 255, .4);
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
}
a:hover, #footer
{
	color: #51365B;
	text-decoration: none;
}
#main_row
{
	height:60vh;
}
#mce-EMAIL
{
	background: rgba(255, 255, 255, .1);
	color: white;
}
.schedule
{
	font-size: 18px;
}