@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
html, body
{
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/bg.png");
	height:100%;
}
body
{
	/*@import url("http://fonts.googleapis.com/css?family=Roboto:400,700");*/
	color: white;
	font-family: "Noto Sans", sans-serif;
	/*background: rgba(255, 255, 255, .2) url("images/bg.png");*/
}
a#footer
{
	/*color: white;*/
	/*text-decoration: none;*/
}
.container
{
	min-height: 100%;
	position: relative;
}
#main_row
{
	padding-bottom:100px;
}
@media screen and (max-width: 515px)
{

}
@media screen and (min-width: 515px)
{

}
#footer
{
	font-size: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom:2%;
    height:100px;
}
#footer_links
{
	width: auto;
	margin-right: auto;
	margin-left: auto;
}
.schedule-day-title
{
	font-family: "Noto Sans", sans-serif;
	font-weight: bold;
}
#subtitle
{
	font-size: 1.5em;
}
.container-fluid
{
	/*padding-left: 10%;*/
	/*padding-right: 10%;*/
	padding-top: 5%;
}
/*#footer-icons
{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}*/
#mc_embed_signup
{
	padding-top: 20px;
	/*width: 100%;*/
}
a, #footer
{
	color: rgba(255, 255, 255, .4);
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
}
a:hover, #footer
{
	color: #51365B;
	text-decoration: none;
}
.rp_button
{
	background-color: #584360;
	border-color: #584360;
	color: white;
}
.rp_button:hover
{
	background-color: #674272;
	border-color: #674272;
	color: white;
}
#main_row
{
	/*height:60vh;*/
	padding-top:10%;
}
#mce-EMAIL
{
	background: rgba(255, 255, 255, .1);
	color: white;
	width: 60%;
	display: inline;
}
#mc-embedded-subscribe
{
	/*width:20%;*/
	display: inline;
	/*margin:;*/
}
.schedule
{
	font-size: 18px;
}
#reg_title
{
	margin-top: 10px;
	margin-bottom: 50px;
	font-weight: bold;
}
.form_input
{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	padding: 7px;
	/*opacity: .3;*/
	background-color: rgba(0, 0, 0, .2);
	border: 1px solid rgba(103,66,114, .5);
	width:50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.form_input::-webkit-input-placeholder {
   /*color: #674272;*/
   color: rgba(52, 152, 219, .7);
   opacity: 1;
}

.form_input:-moz-placeholder { /* Firefox 18- */
   /*color: #674272;*/
   color: rgba(52, 152, 219, .7);
   opacity: 1; 
}

.form_input::-moz-placeholder {  /* Firefox 19+ */
   /*color: #674272;*/
   color: rgba(52, 152, 219, .7);
   opacity: 1;
}

.form_input:-ms-input-placeholder {  
   /*color: #674272;*/
   color: rgba(52, 152, 219, .7);
   opacity: 1;
}
.form_input:focus
{
	box-shadow: 0 0 5px #674272;
	border: 2px solid rgba(103,66,114, 1);
}
.form-control:focus
{

	box-shadow: 0 0 5px #674272;
	border: 2px solid #674272;
	/*box-shadow: 0 0 5px rgba(81, 203, 238, 1);*/
	/*border: 1px solid rgba(81, 203, 238, 1);*/
	/*background-color: #584360;*/
	/*border-color: #584360;*/
}
input[type="file"]
{
	display:none;
}
.form_input.file_btn
{
	color:red;
}
#reg_div
{
	background-color: rgba(0, 0, 0, .1);
	border: 2px solid #674272;
	box-shadow: 0 0 5px #674272;
}




