@import 'https://fonts.googleapis.com/css?family=Noto+Sans';

/*
 * General Section styles
 */

section {
	padding: 0 15%;
}

@media only screen and (max-width: 560px) {
	section {
		padding: 0 5%;
	}
}

.rp_button {
	background-color: #584360;
	border-color: #584360;
	color: white;
}
.rp_button:hover {
	background-color: #674272;
	border-color: #674272;
	color: white;
}

.rp_button:focus {
	background-color: #674272;
	border-color: #674272;
	color: white;
}

.rp_button:active {
	background-color: #674272;
	border-color: #674272;
	color: white;
}

/*
 * Header styles
 */

header {
	height: 100%;
	background: rgba(31, 16, 57, 0.5);
	display: flex;
	align-items: center;
	padding: 0 15%;
}

.logo {
	order: 1;
}

.title_section {
	text-align: center;
	order: 2;
}

.title > h1 {
	display: inline-block;
}

.social-media-icons {
	padding-left: 0px;
	list-style-type: none;
}

.social-media-icons > li {
	display: inline;
}

.social-media-icons > li > a {
	text-decoration: none;
}

.social-media-icons > li > a:hover {
	color: gray;
}

.form_input {
	border-radius: 4px;
	display: inline;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	padding: 7px;
	background-color: rgba(0, 0, 0, .2);
	border: 1px solid rgba(103,66,114, .5);
	width:50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.form_input::-webkit-input-placeholder {
	color: #674272;
	opacity: 1;
}

.form_input:-moz-placeholder { /* Firefox 18- */
	color: #674272;
	opacity: 1;
}

.form_input::-moz-placeholder {  /* Firefox 19+ */
	color: #674272;
	opacity: 1;
}

.form_input:-ms-input-placeholder {
	color: #674272;
	opacity: 1;
}
.form_input:focus {
	box-shadow: 0 0 5px #674272;
	border: 2px solid rgba(103,66,114, 1);
	outline: none;
}

.form_input_button {
	display: inline;
}

.form_input_button:focus {
	background-color: #674272;
	border-color: #674272;
	color: white;
	outline: none;
}

.form_input_button:active {
	background-color: #674272;
	border-color: #674272;
	color: white;
	outline: none;
}

.form_input_label {
	font-size: 0.75em;
}

/*
* Side menu
*/
aside {
	position:fixed;
	right:0;
	top:0;
	bottom:0;
	width: 10%;
	height:100%;
	display: flex;
	align-items: center;
	font-size:1em;
}

#menu {
	list-style: none;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	padding: 5% 25%;
}

#menu > li {
	padding: 5px 0;
}

#menu > li > a {
	color: white;
	font-weight: lighter;
}

/*
* About Section
*/
.about_heading {
	font-size: 2em;
	margin-top: 50px;
	font-style: bolder;
}

.about_text {
	padding: 20px;
}

.about_section_grid {
	margin-top: 5%;
}

.about_section_card {
	text-align: center;
	margin-bottom: 5%;
}

.about_section_card > img {
	height: 200px;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
}

.about_section_card_text {
	margin-top: 15px;
}
.about_section_image_text {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
}

/*
* Schedule
*/

.schedule-section {
	margin-top: 5%;
	margin-bottom: 5%;
}

.schedule-section-title {
	text-align: center;
}

.schedule-day-title {
	text-align:center;
	padding-bottom:5%;
}

.schedule-table {
	width: 100%;
}

.schedule-table td {
	padding: 10px 0;
	width: 50%;
}

.schedule-table td:first-child {
	text-align: center;
	border-right: 3px solid #A38F3B;
	color: darkgray;
}

.schedule-table td:last-child {
	padding-left: 10%;
}

/*
 * Footer
 */

 .footer {
	position: absolute;
	text-align: center;
	width: 100%;
	background-color: #2F2F2F;
	padding: 20px;
 }

/*
 * Unorganized Styles
 */



html, body {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/assets/img/background.png");
	background-attachment: fixed;
	height:100%;
}
body {
	/*@import url("http://fonts.googleapis.com/css?family=Roboto:400,700");*/
	color: white;
	font-family: "Noto Sans", sans-serif;
}

.container {
	min-height: 100%;
	position: relative;
}

#faq {
	/*background-color: rgba(0, 0, 0, 1);*/
	background: linear-gradient(0deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../../images/bg01_old.jpeg');
	/*background/-color: rgba(0, 0, 0, .7);*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#faq_to_speakers {
	height:30vh;
}

.main_row {
	margin-left: auto;
	margin-right: auto;
}

.faq_s_title {
	font-size: 1.5em;
	text-align:center;
	margin-top:35px;
}
#speakers {
	background-color: rgba(255, 0, 0, 1);
}
@media only screen and (max-width: 560px) {
	#sponsors {
		margin: 0px !important;
	}
}
#sponsors {
	/*background-color: rgba(0, 0, 0, 1);*/
	/*color: black;*/
	text-align: center;
	margin: 50px;
}
#sponsors img {
	max-width:100%;
	max-height:100%;
	padding-left: 15px;
	padding-right: 15px;
	/*width: 200px;*/
	/*padding: 20px;*/
	/*vertical-align: center;*/
	/*text-align: center;*/
}
#sponsors .row div {
	/*height: 100%;*/
}
#sponsors img:hover {
	/*width: 300px;*/
}
.high-tier img {
	width: 300px !important;
}
#sponsors h1 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 50px;
}

#subtitle {
	font-size: 1.5em;
}
.icon_link {
	color: rgba(255, 255, 255, .4);
	text-decoration: none;
	margin: 10px;
	font-size: 2em;
}

.schedule {
	font-size: 18px;
}
#reg_title {
	margin-top: 10px;
	margin-bottom: 50px;
	font-weight: bold;
}

.form-control:focus {

	box-shadow: 0 0 5px #674272;
	border: 2px solid #674272;
	/*box-shadow: 0 0 5px rgba(81, 203, 238, 1);*/
	/*border: 1px solid rgba(81, 203, 238, 1);*/
	/*background-color: #584360;*/
	/*border-color: #584360;*/
}
input[type="file"] {
	display:none;
}
.form_input.file_btn {
	color:red;
}
#reg_div {
	background-color: rgba(0, 0, 0, .1);
	border: 2px solid #674272;
	box-shadow: 0 0 5px #674272;
}
