@import 'https://fonts.googleapis.com/css?family=Noto+Sans';

/*
 * General Section styles
 */

section {
	padding: 0 15%;
}

@media only screen and (max-width: 560px) {
	section {
		padding: 0 5%;
	}
}

.rp_button {
	background-color: #584360;
	border-color: #584360;
	color: white;
}
.rp_button:hover {
	background-color: #674272;
	border-color: #674272;
	color: white;
}

.rp_button:focus {
	background-color: #674272;
	border-color: #674272;
	color: white;
}

.rp_button:active {
	background-color: #674272;
	border-color: #674272;
	color: white;
}

/*
 * Header styles
 */

header {
	height: 100%;
	background: rgba(31, 16, 57, 0.5);
	display: flex;
	align-items: center;
	padding: 0 15%;
}

.logo {
	order: 1;
	width: 100%;
}

.title_section {
	text-align: center;
	order: 2;
}

.title > h1 {
	display: inline-block;
}

.social-media-icons {
	padding-left: 0px;
	list-style-type: none;
}

.social-media-icons > li {
	display: inline;
}

.social-media-icons > li > a {
	text-decoration: none;
}

.social-media-icons > li > a:hover {
	color: gray;
}

.form_input {
	border-radius: 4px;
	display: inline;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	padding: 7px;
	background-color: rgba(0, 0, 0, .2);
	border: 1px solid rgba(103,66,114, .5);
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.form_input::-webkit-input-placeholder {
	color: #674272;
	opacity: 1;
}

.form_input:-moz-placeholder { /* Firefox 18- */
	color: #674272;
	opacity: 1;
}

.form_input::-moz-placeholder {  /* Firefox 19+ */
	color: #674272;
	opacity: 1;
}

.form_input:-ms-input-placeholder {
	color: #674272;
	opacity: 1;
}
.form_input:focus {
	box-shadow: 0 0 5px #674272;
	border: 2px solid rgba(103,66,114, 1);
	outline: none;
}

.form_input_button {
	display: inline;
}

.form_input_button:focus {
	background-color: #674272;
	border-color: #674272;
	color: white;
	outline: none;
}

.form_input_button:active {
	background-color: #674272;
	border-color: #674272;
	color: white;
	outline: none;
}

.form_input_label {
	font-size: 0.75em;
}

@media only screen and (max-width : 1250px) {
	.title > h1 {
		font-size: 28px;
	 }
}

@media only screen and (max-width : 992px) {
	.title > h1 {
		font-size: 22px;
	}

	h4 {
		font-size: 18px;
	}

	.logo {
		display: block;
		margin: 0 auto;
		width: 80%;
	 }
}

@media only screen and (max-width : 480px) {
	header {
		padding: 0 5%;
	}

	.title > h1 {
		font-size: 18px;
	}

	h4 {
		font-size: 14px;
	}

	.social-media-icons > li > a {
		font-size: 24px;
	}
}

/*
* Side menu
*/
aside {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 10%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 1em;
	z-index: 999;
}

.desktop {
	width: 100%;
}

.desktop > .menu {
	list-style: none;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	padding: 5% 25%;
}

ul > li {
	padding: 5px 0;
}

ul > li > a {
	color: white;
	font-weight: lighter;
}

.mobile {
	display: none;
	width: 100%;
}

.mobile > .menu {
	display: none;
	list-style: none;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 250px;
	padding: 5% 10%;
}

.mobile > button {
	position: absolute;
  top: 15px;
  right: 15px;
  border: 0;
  border-radius: 3px;
  text-indent: 200%;
  overflow: hidden;
  background: rgba(255,255,255,.5) url(http://i.imgur.com/vKRaKDX.png) center no-repeat;
  background-size: 80%;
  width: 30px;
  height: 30px;
  outline: none;
  transition: all 400ms ease;
}

.mobile > button.expanded {
	transform: rotate(90deg);
  background-color: rgba(255,255,255,.5);
  border: 0;
}

@media only screen and (max-width : 992px) {
	aside {
		align-items: flex-start;
		width: 100%;
		height: 0;
	}

	.mobile {
		display: block;
	}

	.desktop {
		display: none;
	}

	.menu {
		height: 200px;
		padding: 5% 10%;
	}
}
.desktop .menu .current, .desktop .menu .current:hover {
	color: #A38F3B;
}
.desktop .menu a:hover {
	color: #674272;
	text-decoration: none;
}

/*
* About Section
*/

#about {
	margin-top: 5%;
}


.about-text {
	padding: 5% 15%;
	font-size: 1em;
}

.about-text a {
	color: #A38F3B;
}

.about_section_grid {
	padding: 5%;
	background-color: rgba(103, 66, 114, 0.6);
}

.about_section_card {
	text-align: center;
	margin-bottom: 14%;
}

.about_section_card > img {
	height: 200px;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
}

.about_section_card_text {
	color: #A38F3B;
	margin-top: 15px;
}
.about_section_image_text {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
}

.about_section_subtitle {
	font-size: 0.8em
}

.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.nowrap {
	white-space: nowrap;
}

/*
* Schedule
*/

.schedule-section {
	padding: 3% 0;
	background-color: white;
	color: #2F0529;
	margin: 5% 10%;
}

.schedule-section a {
	color: #2F0529;
	font-weight: bolder;
}

.schedule-section-title {
	text-align: center;
	font-weight: bolder;
}

.schedule-day-title {
	text-align: center;
	padding-bottom: 5%;
	font-weight: bold;
}

.schedule-table {
	width: 100%;
}

.schedule-table td {
	padding: 10px 0;
	width: 50%;
}

.schedule-table td:first-child {
	text-align: center;
	border-right: 3px solid #A38F3B;
	color: dimgray;
}

.schedule-table td:last-child {
	padding-left: 10%;
}

/*
 * Speakers
 */
.speaker-section {

}

.speaker-card {
	padding: 0 2% 4%;
	margin-bottom: 1%;
	background-color: white;
	display: inline-block;
	-webkit-transition: background-color 400ms linear;
	-moz-transition: background-color 400ms linear;
	-o-transition: background-color 400ms linear;
	-ms-transition: background-color 400ms linear;
	transition: background-color 400ms linear;
	background-clip:content-box;
	color: #2F0529;
	margin-left: auto;
	margin-right: auto;
}

.speaker-card a {
	color: #2F0529;
	font-weight: bolder;
	text-decoration: none;
	border-bottom: 1px dotted #2F0529;
}

.speaker-card-picture {
	height: auto;
	width: 100%;
	margin-left: auto;
    margin-right: auto;
	cursor: pointer;
	-webkit-filter: grayscale(100%);
	-webkit-transition: .5s ease-in-out;
	-moz-filter: grayscale(100%);
	-moz-transition: .5s ease-in-out;
	-o-filter: grayscale(100%);
	-o-transition: .5s ease-in-out;
	filter: grayscale(100%);
}

.speaker-card-picture:hover {
	-webkit-filter: grayscale(0%);
	-webkit-transition: .5s ease-in-out;
	-moz-filter: grayscale(0%);
	-moz-transition: .5s ease-in-out;
	-o-filter: grayscale(0%);
	-o-transition: .5s ease-in-out;
	filter: grayscale(0%);
}

.speaker-card-title {
	text-align: center;
	padding-bottom: 5px;
}

.speaker-card-subtitle {
	text-align: center;
	font-size: 0.9em;
}

.speaker-card-container {
	position: relative;
	height: 100%;
	padding-bottom: 2%;
}

.speaker-card-overlay {
	position: absolute;
	bottom: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: white;
	padding: 0 0.7em;
	cursor: pointer;
}

.speaker-card-overlay-content {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	overflow: hidden;
}

@media only screen and (min-width: 200px) {
	.speaker-card-overlay-content {
		font-size: 3vw;
	}
}

@media only screen and (min-width: 560px) {
	.speaker-card-overlay-content {
		font-size: 2vw;
	}
}

@media only screen and (max-width: 768px) {
	.speaker-card {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	.speaker-card-overlay-content {
		font-size: 1.3vw;
	}
}

@media only screen and (min-width: 1200px) {
	.speaker-card-overlay-content {
		font-size: 0.8vw;
	}
}


@media only screen and (max-width: 1048px) {
   .speaker-card-title { font-size: 1.3em; }
   .speaker-card-subtitle { font-size: 0.7em; }
}

.speaker-coming-soon-card {
	opacity: 0.5;
	background-color: black;
	color: white;
	text-align: center;
}

/*
 * FAQ
 */

 .faq-section {
 	padding: 3% 5%;
 	background-color: white;
 	color: #2F0529;
 	margin: 5% 10%;
 }

 .faq-section a{
   color: #A38F3B;
 }


  @media only screen and (min-width: 560px) {
 	 .faq-section {
 	 	margin: 5% 0%;
 	 }
  }

 @media only screen and (min-width: 768px) {
	 .faq-section {
	 	padding: 3% 3%;
	 	background-color: white;
	 	color: #2F0529;
	 	margin: 5% 25%;
	 }
 }


.faq-question {
	height: 3%;
	padding: 1%;
}

.faq-question > h4 {
	font-weight: bolder;
}

/*
 * Sponsors
 */

 @media only screen and (max-width: 560px) {
 	.sponsor-section {
 		margin: 0px !important;
 	}
 }

.sponsor-section {
	padding: 0 5%;
 	text-align: center;
	margin: 5% 20%;
	background-color: rgba(103, 66, 114, 0.4);
}

.sponsor-section h3 {
	color: #A38F3B;
	margin: 10% 0;
}

.sponsor-section img {
 	max-width:100%;
 	max-height:100%;
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	padding-left: 15px;
 	padding-right: 15px;
}

.sponsor-section h1 {
 	margin-left: auto;
 	margin-right: auto;
 	text-align: center;
 	margin-bottom: 50px;
}

.sponsor-interest {
	padding: 5% 0;
}

.sponsor-interest > a {
	color: #A38F3B;
}

.sponsor-section td {
  padding-bottom: 1em;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
}

.megabyte-sponsors img {
	max-width: 300px;
	max-height: 300px;
	margin: auto;
	flex-grow: 1;
	display: inline-block;
}

.gigabyte-sponsors img {
	max-width: 400px;
	max-height: 400px;
	margin: auto;
	flex-grow: 1;
	/*display: inline;*/
}

@media only screen and (max-width: 560px) {
	.megabyte-sponsors img {
		max-width: 150px;
		max-height: 150px;
	}
	.gigabyte-sponsors img {
		max-width: 200px;
		max-height: 200px;
	}
}

/*
 * Footer
 */

 .footer {
	position: absolute;
	text-align: center;
	width: 100%;
	background-color: #2F2F2F;
	padding: 20px;
 }

 .footer a{
	 color: #A38F3B;
 }

/*
 * Unorganized Styles
 */

html, body {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../assets/img/new-background.png") no-repeat center center fixed;
	background-attachment: fixed;
	-webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	height: 100%;
}
body {
	/*@import url("http://fonts.googleapis.com/css?family=Roboto:400,700");*/
	color: white;
	font-family: "Noto Sans", sans-serif;
}

.container {
	min-height: 100%;
	position: relative;
}

.main_row {
	margin-left: auto;
	margin-right: auto;
}

#subtitle {
	font-size: 1.5em;
}

.icon_link {
	color: rgba(255, 255, 255, .4);
	text-decoration: none;
	margin-left: 5px;
	border-bottom-style: none !important;
}

.schedule {
	font-size: 18px;
}

#reg_title {
	margin-top: 10px;
	margin-bottom: 50px;
	font-weight: bold;
}

.form-control:focus {
	box-shadow: 0 0 5px #674272;
	border: 2px solid #674272;
}

input[type="file"] {
	display: none;
}

.form_input.file_btn {
	color: red;
}

#reg_div {
	background-color: rgba(0, 0, 0, .1);
	border: 2px solid #674272;
	box-shadow: 0 0 5px #674272;
}
