/*Styles from main page*/

html, body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../../assets/img/new-background.png") no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

body {
    /*@import url("http://fonts.googleapis.com/css?family=Roboto:400,700");*/
    color: white;
    font-family: "Noto Sans", sans-serif;
}

img {
    width: 100%;
}